<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.homey.mapper.ASBoardMapper">

    <!-- Result Maps -->
    <resultMap type="org.homey.domain.ASBoardVO" id="ASBoardMap">
        <id property="bno" column="bno" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="mid" column="mid" />
        <result property="regDate" column="regDate" />
        <result property="updateDate" column="updateDate" />
        <result property="status" column="status" />
        <result property="replyContent" column="replyContent" />
        <result property="replyRegDate" column="replyRegDate" />
        <result property="replyUpdateDate" column="replyUpdateDate" />
        <result property="replyMid" column="replyMid" />
    </resultMap>

  
<select id="selectAllPaging" resultType="org.homey.domain.ASBoardVO" resultMap="ASBoardMap">
  <![CDATA[
  SELECT *
  FROM (
    SELECT
      A.*,
      ROW_NUMBER() OVER (ORDER BY bno DESC) AS rn
    FROM ASBoard A
  ]]>
  <choose>
    <when test="type == 'status'">
      <![CDATA[
      WHERE status = #{keyword}
      ]]>
    </when>
    <when test="type == 'mid'">
      <![CDATA[
      WHERE mid LIKE '%'||#{keyword}||'%'
      ]]>
    </when>
    <when test="type == 'regdate'">
      <![CDATA[
       WHERE regdate >= TO_DATE(#{keyword}, 'YYYY-MM-DD')
      ]]>
    </when>
  </choose>
  <![CDATA[
  )
  WHERE rn <= #{amount} * #{pageNum}
    AND rn > #{amount} * (#{pageNum} - 1)
  ]]>
</select>

<select id="totalCount" resultType="int">
    SELECT COUNT(*)
    FROM ASBoard
</select>
<select id="selectAllPagingMe" resultType="org.homey.domain.ASBoardVO" resultMap="ASBoardMap">
<![CDATA[
SELECT *
FROM (
SELECT
A.*,
ROW_NUMBER() OVER (ORDER BY bno DESC) AS rn
FROM ASBoard A
WHERE mid = #{mid}
)
WHERE rn <= #{amount} * #{pageNum}
AND rn > #{amount} * (#{pageNum} - 1)
]]>
</select>

    <!-- Select ASBoard entry by ID (bno) -->
    <select id="select" parameterType="int" resultMap="ASBoardMap">
        SELECT *
        FROM ASBoard
        WHERE bno = #{bno}
    </select>
    
<insert id="insertSelectKey">
  	<!-- PK 값을 미리 처리해서 bno에 저장 -->
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
	    SELECT BNO_SEQ.NEXTVAL FROM dual 
	</selectKey>
  	
  	<!-- 시퀀스 대신 저장해 둔 bno를 사용 -->
	INSERT INTO ASBoard (bno, title, content, mid, regDate, updateDate, status)
	    VALUES (#{bno}, #{title}, #{content}, #{mid}, sysdate, sysdate, 
	   <choose>
            <when test="status != null">
                #{status}
            </when>
            <otherwise>
                '답변대기중'
            </otherwise>
        </choose>)
  </insert>
  
	  <insert id="insert">
	    INSERT INTO ASBoard (bno, title, content, mid, regDate, updateDate, status)
	    VALUES (BNO_SEQ.NEXTVAL, #{title}, #{content}, #{mid}, sysdate, sysdate, 
	    <choose>
            <when test="status != null">
                #{status}
            </when>
            <otherwise>
                '답변대기중'
            </otherwise>
        </choose>)
  </insert>
   



    <!-- Update an existing ASBoard entry -->
  <update id="update">
    UPDATE ASBoard
    SET title = #{title}, content = #{content}, updateDate = SYSDATE
    
    <if test="status != null">
        , status = #{status}
    </if>
    <if test="replyContent != null">
        , replyContent = #{replyContent}
    </if>
    WHERE bno = #{bno}
</update>



    <!-- Delete an ASBoard entry by ID (bno) -->
    <delete id="delete" parameterType="int">
        DELETE FROM ASBoard
        WHERE bno = #{bno}
    </delete>


</mapper>
