<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.homey.mapper.FreePdtMapper">

<!-- 쿼리 보관 -->
  <sql id="criteria">
  	 <trim prefix="(" suffix=") AND " prefixOverrides="OR">
	 	<foreach item="type" collection="typeArr">
	 	  <trim prefix="OR">
	 		<choose>
	 			<when test="type == 'T'.toString()">
	 				fpTitle LIKE '%'||#{keyword}||'%'
	 			</when>
	 			<when test="type == 'C'.toString()">
	 				fpContent LIKE '%'||#{keyword}||'%'
	 			</when>
	 		</choose>
	 	  </trim>
	 	</foreach>
	 </trim>
  </sql>

<!-- 제품 나눔 게시글 개수 -->

	<select id="fpTotalCount" resultType="int">
		<![CDATA[
	    SELECT COUNT(*) FROM freePdt
	    WHERE ]]>
				    <!-- 보관해 둔 쿼리 사용 -->
				    <include refid="criteria"></include>
		<![CDATA[ fpNo > 0 ]]>		<!-- 보관해둔 쿼리에 AND가 들어있는데, 그걸 만족시키려면 조건이 하나 더 필요해서, 의미없는 조건 하나 덧붙인 것 -->
	</select>
	
<!-- 제품 나눔 게시글 전체조회  -->
	
	<select id="fpSelectAllPaging" resultType="org.homey.domain.FreePdtVO">
			<![CDATA[
	    	SELECT ((#{pageNum} - 1) * #{amount}) +  rownum as fpRn, fpNo, fpTitle, fpContent, freePdt, fpPeople, fpNowPeople, fpDeadline, fpState, fpGetDate, fpGetPlace, fpWDate, mid, fpImg
	    	FROM	(	SELECT	rownum rn, fpNo, fpTitle, fpContent, freePdt, fpPeople, fpNowPeople, fpDeadline, fpState, fpGetDate, fpGetPlace, fpWDate, mid, fpImg 
	    					FROM	(  SELECT *
	    									FROM freePdt
	    									ORDER BY fpNo DESC )
	    					WHERE	]]>
	    					<!-- 위에 보관해둔 쿼리 사용 -->
	    					<include refid="criteria"></include>
	    					<![CDATA[				
	    								rownum <= #{amount}	*	#{pageNum}	
	  					 )
	    	WHERE		rn		>	#{amount}	*	(	#{pageNum}	 -1	)
	  		]]>
	</select>
  
<!-- 제품 나눔 게시글 상세조회  -->

	<select id="fpSelect" resultType="org.homey.domain.FreePdtVO">
	 	SELECT * FROM freePdt WHERE fpNo=#{fpNo}
	</select>

<!-- 제품 나눔 게시글 등록  -->

	<insert id="fpInsert" >	
		INSERT INTO freePdt (fpNo, fpTitle, fpContent, freePdt, fpPeople, fpNowPeople, fpDeadline, fpState, fpGetDate, fpGetPlace, fpWDate, mid, fpImg)
		VALUES (freepdt_seq.NEXTVAL, #{fpTitle}, #{fpContent}, #{freePdt}, #{fpPeople}, 0, #{fpDeadline}, 0, #{fpGetDate}, #{fpGetPlace}, SYSDATE, #{mid}, NVL(#{fpImg}, 'default.png'))
	</insert>

<!-- 제품 나눔 게시글 수정  -->

	<update id="fpUpdate">
	  UPDATE freePdt
	  <set>
	    <if test="fpTitle != null">fpTitle = #{fpTitle},</if>
	    <if test="fpContent != null">fpContent = #{fpContent},</if>
	    <if test="freePdt != null">freePdt = #{freePdt},</if>
	    <if test="fpPeople != null">fpPeople = #{fpPeople},</if>
	    <if test="fpNowPeople != null">fpNowPeople = #{fpNowPeople},</if>
	    <if test="fpDeadline != null">fpDeadline = #{fpDeadline},</if>
	    <if test="fpState != null">fpState = #{fpState},</if>
	    <if test="fpGetDate != null">fpGetDate = #{fpGetDate},</if>
	    <if test="fpGetPlace != null">fpGetPlace = #{fpGetPlace},</if>
	    <if test="mid != null">mid = #{mid},</if>
	    <if test="fpImg != null">fpImg = #{fpImg},</if>
	  </set>
	  WHERE fpNo = #{fpNo}
	</update>
	

<!-- 제품 나눔 게시글 삭제  -->

	<delete id="fpDelete">	
	    DELETE FROM freePdt WHERE fpNo=#{fpNo}
	</delete>


<!-- '현재 신청자 수' 컬럼 증가  -->

	<update id="plusNowPeople">	
	   	UPDATE freePdt SET fpNowPeople = fpNowPeople + 1 WHERE fpNo=#{fpNo}
	</update>


  
</mapper>
