<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.homey.mapper.OdReqMapper">

	
<!-- 원데이클래스 신청목록 전체조회  -->
	<select id="odReqSelectAll" resultType="org.homey.domain.OdReqVO">	<!-- id는 인터페이스의 메서드명, resultType은 임포트내용 / 여러 개면 알아서 List로 바꿔줌 -->
	    SELECT rownum AS odReqRn, odReqNo, odNo, mid, odReqTitle, odReqContent, odReqDate, odReqWin 
		FROM (SELECT odReqNo, odNo, mid, odReqTitle, odReqContent, odReqDate, odReqWin 
				    FROM odReq	
				    WHERE odNo = #{odNo}
				    ORDER BY odReqDate)
	</select>
  
<!-- 나의 원데이클래스 신청목록 전체조회  (20개 조회) : <원데이클래스 게시글 DB>에서 '모집현황, 글제목, 모집인원' 표시 -->
	<select id="odReqSelectMine" resultType="org.homey.domain.OdReqVO">	<!-- id는 인터페이스의 메서드명, resultType은 임포트내용 / 여러 개면 알아서 List로 바꿔줌 -->
			<![CDATA[
		    SELECT rownum AS odReqRn, odReqNo, odNo, mid, odReqTitle, odReqContent, odReqDate, odReqWin
		    FROM	(SELECT odReqNo, odNo, mid, odReqTitle, odReqContent, odReqDate, odReqWin 
		            	FROM odReq
		            	WHERE mid = #{mid}
		            	ORDER BY odReqDate DESC)
		    WHERE rownum <= 20
		    ]]>
	</select>

  
<!-- 원데이클래스 신청 상세조회 :  <원데이클래스 게시글 DB>에서 '원데이클래스명' 표시해야 함. -->

	<select id="odReqSelect" resultType="org.homey.domain.OdReqVO">	<!-- id는 인터페이스의 메서드명, resultType은 임포트내용 -->
	 	SELECT *
		FROM odreq 
		WHERE odReqNo = #{odReqNo}
	</select>
	

<!-- 원데이클래스 신청  -->

	<insert id="odReqInsert" >	
		INSERT INTO odReq (odReqNo, odNo, mid, odReqTitle, odReqContent, odReqDate, odReqWin)
		VALUES (odreq_seq.NEXTVAL, #{odNo}, #{mid}, #{odReqTitle}, #{odReqContent}, SYSDATE, 0)
	</insert>


<!-- 원데이클래스 신청 철회  -->

	<delete id="odReqDelete">	
	    DELETE FROM odReq WHERE odReqNo=#{odReqNo}		<!-- 매개변수로 vo를 받기 때문에, vo의 변수명과 DB 컬럼명이 일치해야 함 -->
	</delete>


<!-- 원데이클래스 당첨자 선정  -->

	<update id="odReqWin">	
	   	UPDATE odReq SET odReqWin=1 WHERE odReqNo=#{odReqNo}
	</update>
	
<!-- 원데이클래스 당첨 취소  -->

	<update id="odReqWinX">	
	   	UPDATE odReq SET odReqWin=0 WHERE odReqNo=#{odReqNo}
	</update>

<!-- 원데이클래스 당첨자 목록 : <회원 DB>에서 '당첨자 이름, 이메일, 연락처' 표시해야 함 -->

	<resultMap type="org.homey.domain.OdReqVO" id="odReqMap">
	    <id property="odReqNo" column="odReqNo"/>
	    <result property="odReqRn" column="odReqRn"/>
	    <result property="odNo" column="odNo"/>	    
	    <result property="odReqTitle" column="odReqTitle"/>
	    <result property="odReqContent" column="odReqContent"/>
	    <result property="odReqDate" column="odReqDate"/>
	    <result property="odReqWin" column="odReqWin"/>
	    <result property="mid" column="mid"/>		<!-- 이 부분을 빼면 테스트했을 때 fpReqVO에 mid가 안담김 -->		
	    
	    <!-- MemberVO 객체 매핑 -->
	    <association property="mvo" javaType="org.homey.domain.MemberVO">
	    	<result property="mid" column="mid"/>
	        <result property="pw" column="pw"/>
	        <result property="mname" column="mname"/>
	        <result property="maddr" column="maddr"/>
	        <result property="memail" column="memail"/>
	        <result property="mphone" column="mphone"/>
	        <result property="mdate" column="mdate"/>
	    </association>
	</resultMap>
	
	<resultMap type="org.homey.domain.MemberVO" id="memberMap">
	    <result property="mid" column="mid"/>
	    <result property="pw" column="pw"/>
        <result property="mname" column="mname"/>
        <result property="maddr" column="maddr"/>
        <result property="memail" column="memail"/>
        <result property="mphone" column="mphone"/>
        <result property="mdate" column="mdate"/>
	</resultMap>

	<select id="odWinSelect" resultMap="odReqMap">	<!-- id는 인터페이스의 메서드명, resultType은 임포트내용 / 여러 개면 알아서 List로 바꿔줌 -->
	    	SELECT rownum AS odReqRn, t.*
			FROM (SELECT odr.odReqNo, odr.odNo, odr.mid, odr.odReqTitle, odr.odReqContent, odr.odReqDate, odr.odReqWin,
			           m.pw, m.mname, m.maddr, m.memail, m.mphone, m.mdate
                    FROM odReq odr
                    JOIN member m
                    ON odr.mid = m.mid
                    WHERE odr.odNo = #{odNo} AND odReqWin = 1 
                    ORDER BY odr.odReqDate DESC) t
	</select>
	
	
<!-- 원데이클래스 신청 중복체크  -->
	
	<select id="doubleCheck" resultType="int">	<!-- id는 인터페이스의 메서드명, resultType은 임포트내용 / 여러 개면 알아서 List로 바꿔줌 -->
			SELECT COUNT(*) 
			FROM odReq
			WHERE odNo = #{odNo} AND mid = #{mid}
	</select>


	
  
</mapper>